@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.wrapper_statistics {
  display: flex;
  flex-direction: column;
}
.count_statistics {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #fff;
}
.name_statistics {
  font-weight: 400;
  font-size: 23px;
  line-height: 160%;
  text-transform: capitalize;
  color: #fff;
}
