.wrapper_WalletOptions {
  border: 1px solid #a259ff;
  border-radius: 20px;
  padding: 0px 20px 0px 40px;
  width: 320px;
  height: 72px;
  background: #3b3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.name_wrapper_WalletOptions {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #fff;
	width: 200px;
}
